
	<div class="split left">
	  <div class="centered">
	    <img src="assets/portfolio.jpg" alt="Portfolio Picture">
	     <h2>My Picture</h2>
	       <p>Some text.</p>
	  </div>
	</div>
	<div class="split right">
		<div class="centered">

		<div class="container">
		<h1>{{ site.texture.title }}</h1>
		<h2>{{ site.texture.tagline }}</h2>
		<ul class="social">
			{%- if site.texture.social_links.github -%}
				<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
			{%- endif -%}
			{%- if site.texture.social_links.linkedIn -%}
				<a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
			{%- endif -%}
			{%- if site.texture.social_links.twitter -%}
				<a href="https://twitter.com/{{ site.texture.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
			{%- endif -%}
		</ul>
	</div>
	</div>
</div>
